	/*CSS Reset*/
	*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	body, html { font-size: 100%; padding: 0; margin: 0;}


	.clearfix:before, .clearfix:after { content: " "; display: table; }
	.clearfix:after { clear: both; }

	body {
	    font-family: 'Lato', Calibri, Arial, sans-serif;
	    color: #47a3da;
	    font-weight: 400;
	    min-height: 900px;
	}

	.container > header {
		width: 90%;
		max-width: 69em;
		margin: 0 auto;
		padding: 2.875em 1.875em 1.875em;
	}

	.container > header h1 {
		font-size: 2.125em;
		line-height: 1.3;
		margin: 0 0 0.6em 0;
		float: left;
		font-weight: 400;
	}

	.container > header > span {
		display: block;
		position: relative;
		z-index: 9999;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		padding: 0 0 0.6em 0.1em;
	}

	.container > header > span span:after {
		width: 30px;
		height: 30px;
		left: -12px;
		font-size: 50%;
		top: -8px;
		font-size: 75%;
		position: relative;
	}

	.container > header > span span:hover:before {
		content: attr(data-content);
		text-transform: none;
		text-indent: 0;
		letter-spacing: 0;
		font-weight: 300;
		font-size: 110%;
		padding: 0.8em 1em;
		line-height: 1.2;
		text-align: left;
		left: auto;
		margin-left: 4px;
		position: absolute;
		color: #fff;
		background: #47a3da;
	}

	.bp-icon:after {
		font-family: 'bpicons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		text-align: center;
		color: #47a3da;
		-webkit-font-smoothing: antialiased;
	}

	.bp-icon-about:after {
		content: "\e003";
	}

	.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	/*menu navigasi*/
 	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border-bottom-width: 1px;
		border-bottom-color: #47a3da;
		border-bottom-style: solid;
		background-color: white;
		font-family: 'bpmenu';
	}

	li {
		float: left;
		border-right-width: 1px;
		border-right-color: #47a3da;
		border-right-style: solid;
	}

	li a, .dropdown {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 15px 50px;
		text-decoration: none;
		color: #47a3da;
	}

	.dropdown i{
		padding-left: 10px;
	}

	li a:hover, .product:hover .dropdown {
		color:  #2687c0;
	}

	.dropdown:hover{
		background-color: #f9f9f9;
	}

	li.product {
		display: inline-block;
	}

	.product-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.product-content a {
		color: #47a3da;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.product-content a:hover {
		background-color: #2687c0;
		color : white;
	}

	.product:hover .product-content {
		display: block;
	}